@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #FFE3E3;

}

.shopname {
    font-family: 'Creepster', cursive;
    text-align: center;
    text-shadow: 3px 3px 0px #FF9BAA;
    color: rgb(159, 248, 227);
    margin-bottom: 100px;
}

.shopname h1 {
    margin: 10px;
    margin-bottom: 15px;
    display: inline-block;
    animation: shake 0.5s infinite;
}

.shopname p {
    margin: 5px;

    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    25% {
        transform: translate(2px, 2px) rotate(1deg);
    }

    50% {
        transform: translate(-2px, -2px) rotate(-1deg);
    }
}

@media screen and (max-width: 600px) {
    .shopname h1 {
        font-size: 70px;
    }

    .shopname p {
        font-size: 25px;
    }

    body {
        padding: 15px;
    }
}


@media screen and (min-width: 601px) and (max-width: 1024px) {
    .shopname h1 {
        font-size: 100px;
    }

    .shopname p {
        font-size: 45px;
    }

    body {
        padding: 15px;
    }
}

@media screen and (min-width: 1025px) {
    .shopname h1 {
        font-size: 130px;
    }

    .shopname p {
        font-size: 65px;
    }

    body {
        padding: 15px;
    }
}

.shop-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    gap: 5px;

}

.shop {

    /*background-color: #FF9BAA; /*#FFE3E3*/
    width: 350px;
    height: auto;
    display: flex;
    padding-bottom: 70px;
    flex-direction: column;
    /* เรียงแนวตั้ง */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);*/
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shop p {
    margin-left: 20px;
    margin-top: 10px;
    color: black;
}

.shop img {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 20px;
}

.shop:hover {
    transform: scale(1.005);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    color: black;
    text-align: center;
    padding: 15px 0;
    opacity: 0;
    font-family: 'Poppins', sans-serif;
    border: 1px solid rgb(122, 122, 122);
    transition: opacity 0.3s ease;
}

.shop:hover .overlay {
    opacity: 1;
}

.product-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.product-image img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.product-info h1 {
    font-size: 40px;
    color: #000;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Poppins', cursive;
}

.bypopmart p {
    margin: 0;
    margin-bottom: 15px;
    color: #777676;
}

.product-bottom {
    margin: 0;

}
/*ราคา*/
.price {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 25px;

}

.dot {
    color: #777676;
}
/*ปุ่มกดซื้อ*/
.buy {
    border-radius: 20px;
    border: 0px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    margin-top: 40px;
    background-color: #cdc9c9;
    padding: 10px 30px;
    font-size: 15px;
}

.buy:hover {
    transform: scale(1.005);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
/*ปุ่มเพิ่มจำนวน*/
.quantity {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: 10px;
}

.qty-box {
  display: flex;
  align-items: center;
 
  background-color: #ffe6e6;
  border-radius: 10px;
  padding: 5px 10px;
}

.qty-btn {
  background-color: white;
  border: none;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.qty-btn:hover {
  background-color: #f2f2f2;
}

#qty {
  width: 50px;
  text-align: center;
  font-size: 16px;
  border: none;
  background-color: transparent;
  padding: 6px;
  -moz-appearance: textfield;
}


#qty::-webkit-inner-spin-button,
#qty::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*header*/
.header {
    display: flex;
    background-color: #FFFFFF;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 10;
}

.header-name {
    padding-left: 30px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #e60000;
    text-shadow: #e75b5b 1px 2px 3px 4px;
}
.nav-container {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.nav-container a {
    color: #e60000;
    padding: 5px;
    border-radius: 10px;
    
}
.nav-container a:hover {
    color: #ffffff;
    background-color: #e60000;
    box-shadow: #eb7878 1px 2px 4px 2px;
    transition: 0.2s;
}
ul {
    padding: 30px;
    list-style: none;
    display: flex;
    gap: 30px;
}

/*footer*/
.footer-bottom {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e43333;
    padding: 10px;
    text-align: center;
    margin-top : 50px;
    height: 300px;
    color: #fcf8f8; 
}

.footer-bottom li {
  cursor: pointer;
  font-weight: 500;
  margin: 8px 0;
  font-weight: 500;
  transition: color 0.3s ease;
}
.HBRFC {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

.grid-item {
  
  justify-content: space-around; 
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: yellowgreen;
}
