@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    background-color: #FFE3E3 !important;
    
} */

body {

    background-image: url(/11-resources/01-images/12345.png);
    
    /* Prevents image from repeating */
    background-repeat: no-repeat;
    background-size: cover; 
    /* Scales the image to cover the entire element */
    background-position: center;
}

.header {
    display: flex;
    background-color: #FFFACD;;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 10;
}

.header-name {
    padding-left: 30px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #e60000;
    text-shadow: #e75b5b 1px 2px 3px 4px;
}


.nav-container {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.nav-container a {
    color: #e60000;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}
.nav-container a:hover {
    color: #ffffff;
    background-color: #e60000;
    box-shadow: #eb7878 1px 2px 4px 2px;
    transition: 0.2s;
}

ul {
    padding: 30px;
    list-style: none;
    display: flex;
    gap: 30px;
    margin-bottom: 0 !important;
}

.categories-name {
    padding-top: 2rem;
    justify-content: center;
    display: flex;
    font-size: 25px;
    font-style: italic;
    font-family: "Share Tech", sans-serif;
    color: red;
}














/* body {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 10;
    margin: 0;
}

.nav-con {
    display: flex;
    justify-content: space-between;
}

.logo a {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.logo {
    padding: 1rem;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li {
    margin: 0 0.5rem;
    padding: 1rem;
    transition: 0.3s;
    border-radius: 8px;
    
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
}

.menu li .dropdown {
    padding: 1rem;
}

.menu li:hover {
    background-color: #66CCFF;
    transition: 0.3s;
    border-radius: 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
} */




/* .aboutus {
    background-color: #f0f0f0;
}

.aboutus-con {
    display: flex;
}

.aboutus-info {
    width: 100%;
    padding: 2rem;
}

.aboutus h3 {
    font-size: 2rem;
}

.aboutus-info p {
    margin: 1rem 0;
}

.aboutus-info .aboutus-btn {
    display: inline-block;
    background-color: #66CCFF;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.aboutus-img img {
    width: 100%;
    padding: 2rem;
}

.video {
    justify-content: center;
    padding: 2rem;
    display: flex;
    margin-top: 1rem;
} */

/* .products-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    padding-inline: 2rem;
} */

.products-title {
    margin: 2rem 0;
    justify-content: center;
    display: flex;
    font-size: 20px;
}

.products-item {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.products-item:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.products-item img {
    width: 100%;
}

.products-item h4 {
    margin-top: 0.5rem;
}

/* .products-item p {
    margin: 1rem 0;
} */

.products-item .price {
    margin: 1rem 0;
}

/* .products-item .buy-btn {
    display: inline-block;
    color: #fff;
    background-color: orange;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 5px;
} */

.booth-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.booth-name {
    padding-top: 0.5rem;
    text-align: center;
}

.desc-name {
    margin-bottom: 1rem;
    font-size: 10px;
    color: lightslategrey;
    text-align: center;
}

.products-desc {
    font-size: 14px;
    margin-bottom: 1rem;
}

/* .discount {
    color: red;
    font-weight: bold;
} */

/* .reference {
    color: navy;
    display: flex;
    justify-content: right;
    font-size: 13px;
    margin: 0;
} */

/* .footer-top {
    margin-top: 2rem;
    padding: 3rem;
    background-color: #333;
    color: #fff;
}

.footer-top-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
}

.footer-top-item-con {
    display: flex;
    margin: 1rem 0;
}

.footer-top-item-con .date {
    background-color: #f0f0f0;
    color: #333;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

.info-title {
    color: red;
}

.latest {
    margin-bottom: 1rem;
}

.warranty {
    margin-bottom: 1rem;
}

.warranty-desc {
    font-size: 15px;
}

#contact {
    margin-bottom: 1rem;
}

.footer-bottom {
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: center;
} */


.footer-bottom {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #e43333;
    padding: 2rem 1rem;
    text-align: center;
    margin-top: 6rem;
    color: #fcf8f8;
}



.footer-cont {
    margin-bottom: 0;
}

.footer-bottom a {
  color: #fcf8f8;
  text-decoration: none;
}

.footer-bottom li {
  cursor: pointer;
  font-weight: 500;
  margin: 8px 0;
  font-weight: 500;
  transition: color 0.3s ease;
}
.menu-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box-cont {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}
.box-item {
  justify-content: space-around; 
}
a {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none !important;
}
.menu-footer a:hover {
    color: #e60000 !important;
    background-color: #fcf8f8 !important;
    border-radius: 3px;
    padding: 2px;
    box-shadow: #eb7878 1px 2px 2px 2px;
}
