
.p-4 {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* ปรับ responsive ของภายใน card */
@media (max-width: 768px) {
    .card {
        padding: 20px !important;
    }
}

/* Footer responsive */
@media (max-width: 768px) {
    .box-item {
        flex-direction: column;
        text-align: center;
    }

    .menu-footer ul {
        padding-left: 0;
    }
}

.container {
    margin-top: 40px; /* ปรับตามที่ต้องการ */
}