@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: url(/G8_OurFestival/11-resources/01-images/12345.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
/*------------------------header-------------------------------*/
.header {
    display: flex;
    background-color: #FFFFFF;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
}

.header-name {
    margin-left: 50px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #e60000;
    text-shadow: #e75b5b 1px 2px 3px 4px;
}


.nav-container {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-right: 10px;
}
.nav-container a {
    color: #e60000;
    padding: 5px;
    border-radius: 10px;
    
}
.nav-container a:hover {
    color: #ffffff;
    background-color: #e60000;
    box-shadow: #eb7878 1px 2px 4px 2px;
    transition: 0.2s;
}

ul {
    padding: 30px;
    list-style: none;
    display: flex;
    gap: 30px;
}
/*-----------------------------------------------------------*/

/*-------------------------picture----------------------------------*/
.img-container {
    position: relative;
}
.img-container .text {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 8;
    font-weight: bold;
}
.img-container .text h1{
    font-size: 8em;
    color: rgba(255, 0, 0, 0.4);
    text-shadow: 1px 2px 6px #efefef, 1px 0 0 rgba(136, 136, 136 ,0.7);
    transform: rotate(-20deg) skew(20deg);
}
.text h1::before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    color: #fff;
    overflow: hidden;
    transform: translate(50px , 0) skew(-39deg);
    text-shadow: none;
}





.img-container .wrapper{
    width: 100%;
    height: 75vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    filter: blur(5px);
    overflow: hidden;
}
.img-container .wrapper-holder {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider 30s ease-in-out infinite alternate;
}
.img-container #slider-img-1 {
    background-image: url(/G8_OurFestival/01-pages/00-00-index/01-images/1.png);
    background-position: center;
}
.img-container #slider-img-2 {
    background-image: url(/G8_OurFestival/01-pages/00-00-index/01-images/2.png);
    background-position: center;
}
.img-container #slider-img-3 {
    background-image: url(/G8_OurFestival/01-pages/00-00-index/01-images/3.png);
    background-position: center;
}
.img-container #slider-img-4 {
    background-image: url(/G8_OurFestival/01-pages/00-00-index/01-images/4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-container .button-holder .button {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.img-container .button-holder {
    position: absolute;
    left: 50%;
    bottom: 0%;
}
.botton:hover {
    
    box-shadow: 5px 5px 5px rgb(225, 55, 55);
}
@keyframes slider {
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}
/*-----------------------------------------------------------*/

/*------------------------member------------------------------*/
.member-container {
    background-color: #FFB6C1;
    width: auto;
    height: auto;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    margin: 20px 50px 0 50px;
}
.member-name {
    color: #FFFFFF;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
    
}
.member-container p {
    color: #FFFFFF;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: left;
    padding-left: 100px;
}
.member-container table {
    width: 100%;               /* ให้ตารางกินเต็ม container */
    border-collapse: separate; /* ไม่รวมเส้นขอบ */
    border-spacing: 15px 5px; /* ระยะห่างคอลัมน์ 15px, ระยะห่างแถว 5px */
}

.member-container table td {
    padding: 8px;            /* เพิ่ม padding ภายในเซลล์ */
    text-align: center;       /* จัดข้อความตรงกลาง */
    vertical-align: middle;   /* จัดให้อยู่กึ่งกลางแนวตั้ง */
}

.member-container table th {
    text-align: center;       /* จัดหัวตารางตรงกลาง */
    padding: 40px 0;
}
/*-----------------------------------------------------------*/

/*------------------------footer------------------------------*/
.footer-bottom {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #e43333;
    padding: 10px;
    text-align: center;
    margin-top: 100%;
    height: 300px;
    color: #fcf8f8; 
}
.footer-bottom li {
  cursor: pointer;
  font-weight: 500;
  margin: 8px 0;
  font-weight: 500;
  transition: color 0.3s ease;
}
.HBRFC {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}
.grid-item {
  justify-content: space-around; 
}
a {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none;
}
.HBRFC a:hover {
    color: #e60000;
    background-color: #fcf8f8;
    border-radius: 3px;
    padding: 2px;
}
/*-----------------------------------------------------------*/