@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #FFFFFF;
    
}

.header {
    display: flex;
    background-color: #FFFFFF;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 10;
}

.header-name {
    padding-left: 30px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #e60000;
    text-shadow: #e75b5b 1px 2px 3px 4px;
}


.nav-container {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.nav-container a {
    color: #e60000;
    padding: 5px;
    border-radius: 10px;
    
}
.nav-container a:hover {
    color: #ffffff;
    background-color: #e60000;
    box-shadow: #eb7878 1px 2px 4px 2px;
    transition: 0.2s;
}

ul {
    padding: 30px;
    list-style: none;
    display: flex;
    gap: 30px;
}

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}
.sliders {
    width: 500%;
    height: 500px;
    display: flex;
}
.sliders input {
     display: none;
}
.slide { 
    width: 20%;
    transition: 2s;
}
.slide img {
    width: 800px;
    height: 500px;
}
.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}
.manual-btn {
    border: 2px solid #e60000;
    padding: 5px; 
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;

}
.manual-btn:hover {
    background: #e60000;
}
#radiol:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}



.member-container {
    background-color: #e60000;
    width: 700px;
    height: auto;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    padding: 20px;
    margin-top: 20px;
}
.member-container p {
    color: #FFFFFF;
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding-left: 25px;

}

.footer-bottom {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e60000;
    padding: 10px;
    text-align: center;
    margin-top: 100%;
    height: 300px;
}