@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Mitr:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: url(/G8_OurFestival/11-resources/01-images/12345.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}
/*------------------------header-------------------------------*/
.header {
    display: flex;
    background-color: #FFFACD;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
}

.header-name {
    margin-left: 50px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #e60000;
    text-shadow: #e75b5b 1px 2px 3px 4px;
}


.nav-container {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-right: 10px;
}
.nav-container a {
    color: #e60000;
    padding: 5px;
    border-radius: 10px;
    
}
.nav-container a:hover {
    color: #ffffff;
    background-color: #e60000;
    box-shadow: #eb7878 1px 2px 4px 2px;
    transition: 0.2s;
}

ul {
    padding: 30px;
    list-style: none;
    display: flex;
    gap: 30px;
}
/*-----------------------------------------------------------*/

/*-------------------------picture----------------------------------*/
.img-container {
    position: relative;
}
.img-container .text {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: left;
    z-index: 8;
    font-weight: bold;
}
.img-container .text h1{
    font-size: 5em;
    color: rgba(255, 0, 0, 0.4);
    text-shadow: 1px 2px 6px #efefef, 1px 0 0 rgba(136, 136, 136 ,0.7);
    transform: rotate(-20deg) skew(20deg);
}
.text h1::before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    color: #fff;
    overflow: hidden;
    transform: translate(25px , 0) skew(-39deg);
    text-shadow: none;
}
.img-container .text h3{
    font-size: 3em;
    color: rgba(255, 0, 0, 0.4);
    text-shadow: 1px 2px 6px #efefef, 1px 0 0 rgba(136, 136, 136 ,0.7);
    transform: rotate(-20deg) skew(20deg) translateX(30px);
    margin-top: 0;
}
.text h3::before {
    content: attr(data-heading);
    position: absolute;
    left: 0;
    color: #fff;
    overflow: hidden;
    transform: translate(15px , 0) skew(-39deg);
    text-shadow: none;
}

.img-container .wrapper{
    width: 100%;
    height: 75vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    filter: blur(5px);
    overflow: hidden;
}
.img-container .wrapper-holder {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider 30s ease-in-out infinite alternate;
}
.img-container #slider-img-1 {
    background-image: url(/G8_OurFestival/01-pages/00-00-index/01-images/1.png);
    background-position: center;
}
.img-container #slider-img-2 {
    background-image: url(/G8_OurFestival/01-pages/00-00-index/01-images/2.png);
    background-position: center;
}
.img-container #slider-img-3 {
    background-image: url(/G8_OurFestival/01-pages/00-00-index/01-images/3.png);
    background-position: center;
}
.img-container #slider-img-4 {
    background-image: url(/G8_OurFestival/01-pages/00-00-index/01-images/4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-container .button-holder .button {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.img-container .button-holder {
    position: absolute;
    left: 50%;
    bottom: 0%;
}
.botton:hover {
    
    box-shadow: 5px 5px 5px rgb(225, 55, 55);
}
@keyframes slider {
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}
/*-----------------------------------------------------------*/

/*-------------------------About---------------------------------*/
.about-container {
    background-color: #ffffff;
    width: calc(100% - 100px); /* ความกว้างของ container ลบขอบซ้ายขวา 50px + 50px */
    height: 600px;
    margin: 100px 50px 0px 50px; /* ห่างขอบซ้ายและขวา 50px */
    display: flex;            /* ใช้ Flexbox เพื่อจัดตำแหน่ง */
    align-items: flex-start;      /* จัดแนวกลางแนวตั้ง */
    justify-content: space-between; /* จัดให้กล่องสีฟ้าอยู่ทางซ้าย */
    gap: 5px;
    padding: 0;
    border-radius: 2px;

}
.about-container .about-text {
    background-color: #ffffff;
    width: 48%;
    height: 560px;
    margin-left: 20px;
    margin-top: 20px;
}
.about-container .about-text h1 {
    margin-top: 20px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #e60000;
    font-size: 30px;
    text-align: left;
    margin-left: 20px;
}
.about-container .about-text p {
    margin-top: 20px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}
.about-container .about-img {
    background-color: #ffffff;
    width: 48%;
    height: 600px;
    margin-right: 20px;
    margin-top: -20px;        /* ขยับ .about-img ขึ้นไปด้านบน 20px */
    left: 50%;                 /* จัดให้ .about-img อยู่ด้านขวาของ .about-text */
    padding: 10px;           /* <<< เพิ่มระยะห่างจากกรอบ */
    box-sizing: border-box;  /* <<< เพื่อให้ padding ไม่ทำให้กล่องขยาย */
    border-radius: 2px;

}
.about-container  #about-img-5 {
    background-image: url(/G8_OurFestival/01-pages/00-00-index/01-images/5.png);
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
}

/*-----------------------------------------------------------*/

/*-------------------------booth-----------------------------*/
.booth-container {
    width: calc(100% - 100px); /* ความกว้างของ container ลบขอบซ้ายขวา 50px + 50px */
    height: auto;
    display: flex;
    flex-direction: column;   /* จัดเรียงลูกในแนวตั้ง */
    align-items: flex-start;
    margin: 100px 50px 0 50px;
    position: relative;
}

.booth-container .booth-title{
    position: absolute;
    margin-left: 35%;
    margin-top: -2%;
    z-index: 7;
    margin-bottom: 50px; /* ระยะห่างจาก card */
    text-align: center;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #000000;
}
.booth-container .booth-card {
    display: flex;
    gap: 20px;
    width: 100%;
}
.booth-container .booth-card .booth {
    flex: 1;
    height: 800px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 20px 25px#eb7878;
    transition: 0.5s;
    justify-content: center;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.booth-container .booth-card .booth:hover {
    transform: scale(1.04); /* ขยายขึ้น 4% */
 }
.booth-container .booth-card .booth .booth-name{
    color: #e75b5b;
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    margin-top: 10px;
}
.booth-container .booth-card .booth .booth-text {
    text-align: left;
    font-family: "Share Tech", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #eb7878;
    font-size: 30px;
    margin-top: 20px;
    width: calc(100% - 100px);
}
.booth-container .booth-card .booth .booth-img {
    background-color: #eb7878;
    width: calc(100% - 60px);    
    height: 400px;
    margin-top: 20px ;
    border-radius: 6px;
}
.booth-img #img1 {
    background-image: url(/G8_OurFestival/01-pages/01-00-booth-directory/01-00-booths/01-00-booth-1/01-images/LADY\ MUMMY.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.booth-img #img2 {
    background-image: url(/G8_OurFestival/01-pages/01-00-booth-directory/01-00-booths/01-01-booth-2/01-images/Balloon.jpg);
    background-position: center;
    width: 100%;
    height: 400px;
}
.booth-img #img3 {
    background-image: url(/G8_OurFestival/01-pages/01-00-booth-directory/01-00-booths/01-02-booth-3/01-images/strawberry\ chessepie.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.booth-img #img4 {
    background-image: url(/G8_OurFestival/01-pages/01-00-booth-directory/01-00-booths/01-03-booth-4/01-images/noodle.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.booth-container .booth-card .booth a {
    margin-top: 80px;
    color: #ffffff;
    font-family: "Share Tech", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;    
    margin-top: auto;       /* ดันลงล่างสุดของกล่อง */
    margin-bottom: 20px;    /* เว้นขอบล่างนิดนึง */
    background-color: #e75b5b;
    padding: 10px;
    border-radius: 10px;
}

/*-----------------------------------------------------------*/

/*------------------------member------------------------------*/
.member-container {
    background-color: #ffffff;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-items: center;
    margin: 100px 50px 0 50px;
    border-radius: 2px;

}
.member-name {
    color: #000000;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
    
}
.member-container p {
    color: #000000;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: left;
    padding-left: 100px;
}
.member-container table td:nth-child(2) p,
.member-container table th:nth-child(2) p {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000; 
    font-size: 30px;                  
}
.member-container table {
    width: 100%;               /* ให้ตารางกินเต็ม container */
    border-collapse: separate; /* ไม่รวมเส้นขอบ */
    border-spacing: 15px 5px; /* ระยะห่างคอลัมน์ 15px, ระยะห่างแถว 5px */
}

.member-container table td {
    padding: 10px;            /* เพิ่ม padding ภายในเซลล์ */
    text-align: center;       /* จัดข้อความตรงกลาง */
    vertical-align: middle;   /* จัดให้อยู่กึ่งกลางแนวตั้ง */
}

.member-container table th {
    text-align: center;       /* จัดหัวตารางตรงกลาง */
    padding: 40px 0;
}
/*-----------------------------------------------------------*/


/*------------------------footer------------------------------*/
.footer-bottom {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #e43333;
    padding: 2rem 1rem;
    text-align: center;
    margin-top: 6rem;
    color: #fcf8f8;
}
.footer-cont {
    margin-bottom: 0;
}

.footer-bottom a {
  color: #fcf8f8;          /* สีเดียวกับตัวอักษร footer */
  text-decoration: none;   /* ตัดเส้นใต้ */
}

.footer-bottom li {
  cursor: pointer;
  font-weight: 500;
  margin: 8px 0;
  font-weight: 500;
  transition: color 0.3s ease;
}
.menu-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box-cont {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}
.box-item {
  justify-content: space-around; 
}
a {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-decoration: none !important;
}
.menu-footer a:hover {
    color: #e60000 !important;
    background-color: #fcf8f8 !important;
    border-radius: 3px;
    padding: 2px;
    box-shadow: #eb7878 1px 2px 2px 2px;
}
/*-----------------------------------------------------------*/

/*---------------------Responsive-------------------------*/

/*************************1200*************************/
@media only screen and (max-width:1200px){
    .img-container .text h1{
        font-size: 4em;
    }
    .img-container .text h3{
        font-size: 2em;
    }
    .text{
        margin-left: 10%;
    }
    .about-container .about-text p{
        font-size: 15px ;
    }
    .img-container .button-holder{
        left: 45%;
    }
    .booth-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .booth-container .booth-title{
        position: absolute;
        margin-left: 35%;
        margin-top: -2%;
        font-size: 15px; 
    }
    .booth-container .booth-card .booth .booth-img{
        height: 400px;
    }
    .booth-container .booth-card .booth .booth-name{
        font-size: 22px;
    }
    .booth-container .booth-card .booth .booth-text{
        font-size: 25px;
    }
}